@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*Общие стили*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
}
main {
    height: 100vh;
}


:root {
    /* Дефолтная тема */
    --primary: #2D60FF;
    --text: #343c6a;
    --gray: #B1B1B1;
    --foreground: #000;
    --gray-light: #F5F7FA;
    --background: #fff;
}

[data-theme='dark'] {
    /* Тёмная тема */
    --primary: #2D60FF;
    --text: #fff;
    --gray: #B1B1B1;
    --foreground: #fff;
    --gray-light: #242425;
    --background: #000;
}


/* Стили для UI*/

.fill-dark {
    fill: #000;
}

/* Стили для layout */

.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content {
    grid-column: 10 span;
}